/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
#index-banner-fill {
  height: 90vh;
}

.logo {
  height: 56px;
}

@media screen and (max-width: 599px){
  .logo {
    height: 49px;
    padding: 2px;
  }  
}

.vh80 {
  height: 80vh;
}

.blur-and-gray {
  filter: grayscale(10%);
  filter: contrast(0.76);
}

#saiba-mais-button {
  background-color: #5656D8;
}

@media screen and (min-width: 740px){
  #saiba-mais-button{
    margin-top: 1.2em;
  }
}



@media (max-width: 420px)
{
  #frase-principal {
    margin-top: 0px;
  }
}

@media (max-width: 340px)
{
  #frase-principal{
    margin-bottom: 0em;
  }
}

#logo-container {
  padding: 2px;
}
